@import url('variables.css');

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#mode-toggle-container {
    position: fixed;
    top: 13px;
    right: 110px;
    width: 30px;
    height: 15px;
    background-color: var(--toggle-background); 
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    transform: scale(1);
}

#mode-toggle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

body.light-mode #mode-toggle {
    transform: translateX(0);
}

body.dark-mode #mode-toggle {
    transform: translateX(10px);
}

#mode-toggle::before {
    content: var(--toggle-icon);
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

