@media (max-width: 1024px) {

    body {
       
        /* height: 100%; */
        overflow: auto;
        background-color: var(--background-color);
    }
    
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-color); /* Remplace l'image de fond par une couleur unie */
        background-size: cover;
        background-image: none;
        background-position: center;
        z-index: -1;
    }


    /* ****************** carousel base ***************** */
    .carousel-container {
        margin-bottom:580px 
    } 

    .carousel-container-presentation {
        margin-bottom:580px 
    }
     
    .carousel-item {
        display: none; 
    }

    .carousel-item.active {
        display: block; 
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 3;
    }

    .carousel-item.previous {
        display: block; 
        transform: translateX(0) scale(0.8);
        opacity: 0.8;
        z-index: 2;
    }

    .carousel-item.next {
        display: block; 
        transform: translateX(0) scale(0.8);
        opacity: 0.8;
        z-index: 2;
    }

/* ********************************************** carousel ocr*/

.carousel-item-ocr {
    display: none; /* Masquer tous les éléments par défaut */
}
.carousel-item-ocr.initial {
    display: block;
}
.carousel-item-ocr.active {
    display: block; /* Afficher l'élément actif */
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 3;
}

.carousel-item-ocr.previous {
    display: block; 
    transform: translateX(0) scale(0.8);
    opacity: 0.8;
    z-index: 2;
}

.carousel-item-ocr.next {
    display: block; /* Afficher l'élément suivant */
    transform: translateX(0) scale(0.8);
    opacity: 0.8;
    z-index: 2;
}







    /* bouton previous et next  */


    .prev_bouton, .next_bouton {
        position: absolute;
        /* top: 50%; */
        transform: translateY(0);
        background: var(--scrollbar-thumb-background);
        /* background: none; */
        border: none;
        cursor: pointer;
        z-index: 4; /* Assurez-vous que les boutons sont au-dessus des éléments du carrousel */
    }
    .prev_bouton:hover, .next_bouton:hover {
       
        background: var(--scrollbar-thumb-background);
        
    }
    .prev_bouton {
        left: 55px;
    }

    .next_bouton {
        right: 55px;
    }
    /* .carousel-item:nth-child(n+2) {
        display: none;
    } */

    .details-container {
        width: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        max-height: 580px;
        min-height: 580px;
    }

    .tags-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        /* align-content: center; */
        /* align-items: center; */
        width: 320px;
    }
    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        /* align-content: center; */
        /* align-items: center; */
        width: 320px;
    }

    .links-container a {
        text-align: center;
    }

    .tag {
        text-align: center;
    }

}

@media (max-width: 380px) {

    .details-container {
        width: 80%;
    }
    .carousel-container {
        margin-bottom:500px 
    }
    .carousel-container-presentation {
        margin-bottom:500px 
    }
    
    .tags-container,.links-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        align-content: center;
        align-items: center;
    }

    .carousel-container {
        overflow: hidden;
    }

    .carousel-item {
        width: 90%;
    /* height: 400px; */
        transform: translateX(-50%) scale(0.6);
        opacity: 0.6;
        position: absolute;
        /* top: 50%; */
        left: 50%;
        z-index: 1;
    }
    .carousel-item.active {
        transform: translateX(-50%) scale(1);
        opacity: 1;
        z-index: 2;
    }
    .carousel-item:nth-child(n+2) {
        display: none;
    }

    .carousel .prev, .carousel .next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
    }

    .carousel .prev {
        left: 55px;
    }

    .carousel .next {
        right: 55px;
    }

    .carousel .prev img, .carousel .next img {
        width: 30px; /* Ajustez la taille des flèches */
        height: auto;
    }
}

/* Styles pour masquer les flèches sur les écrans plus grands */
.carousel .prev, .carousel .next {
    display: none;
}