@import url('variables.css');

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#mode-toggle-container {
    position: fixed;
    top: 6px;
    /* top: 13px; */
    right: 110px;
    width: 30px;
    /* height: 15px; */
    height: 16px;
    background-color: var(--toggle-background);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    transform: scale(1);
}

#mode-toggle {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.light-mode #mode-toggle {
    transform: translateX(0);
}

body.dark-mode #mode-toggle {
    transform: translateX(10px);
}

#mode-toggle::before {
    content: var(--toggle-icon);
    position: absolute;
    width: 27px;
    height: 30px;
    border-radius: 50%;
}

@media (max-width: 1024px) {


    #mode-toggle-container {

        top: 13px;
        width: 31px;
        right: 15px;

    }
}