@import url('variables.css');

@keyframes animate {
    to {
        box-shadow: 0 0 35px var(--carousel-shadow), 0 0 35px var(--carousel-shadow), 0 0 35px var(--carousel-shadow);
    }
}

body,
h1,
h2,
h3,
p,
a,
button,
span,
div {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    color: var(--text-color);
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    z-index: -1;
}


/* ::-webkit-scrollbar {
    display: none;

} */
/********************** SCROLL BAR ************************* */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    max-height: 250px;
    position: relative;
    left: 50px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-background);
    border-radius: 15px;
    height: 200px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-background);
    border-radius: 15px;
    height: 60%;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-background);
}

nav {
    width: 100%;
    /* position: fixed; */
    position: absolute;
    top: 0;
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    z-index: 99;
}

nav ul {
    list-style-type: none;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 15px;
    color: var(--link-color);
    font-size: 20px;
    text-decoration: none;
}

nav ul li a:hover {
    transform: scale(1.2);
    text-shadow: 0 0 1px var(--link-hover-shadow);
}

nav ul li.center {
    flex: 2;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0.8;
}

h1 {
    margin-top: 40px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
}

main.main-container {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 190px;
}
main.main-container-cv {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 190px;
}
main.main-container-presentation {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 190px;
}
main.main-container-ocr {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 60px;
}

main.main-container-pro {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 60px;
}

/* ********************* Carousels  ********************* */

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 56px;
    margin-bottom: 15px;
}

.carousel-container-ocr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;    
    margin-top: 10px;    
    margin-bottom: 0px;
}

.carousel-container-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    
    margin-top: 10px;    

}

.carousel-container-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;    
    margin-top: 30px;
    margin-bottom: 15px;
}

.carousel-container-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;    
    margin-top: 30px;
    margin-bottom: 15px;    
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    width: 100%;
    height: 480px;
    position: relative;
}

.carousel-item {
    width: 600px;
    height: 400px;
    margin: 0 10px;
    border-radius: 6px;
    border: 2px solid var(--carousel-border);
    box-shadow: 0 0 20px var(--carousel-shadow), 0 0 20px var(--carousel-shadow), 0 0 20px var(--carousel-shadow);
    animation: var(--carousel-animation);
    /* animation: animate 2s infinite alternate; */
    transition: transform 0.5s, opacity 0.5s;
    cursor: pointer;
    position: absolute;
    transform: scale(0.6);
    opacity: 0.6;
}

.carousel-item img {
    width: 600px;
    height: 400px;
    border-radius: 4px;
}

.carousel-item:nth-child(1) {
    transform: translateX(-300px) scale(0.8);
    opacity: 0.8;
    z-index: 2;
}

.carousel-item:nth-child(2) {
    transform: translateX(0px) scale(1);
    opacity: 1;
    z-index: 3;
}

.carousel-item:nth-child(3) {
    transform: translateX(300px) scale(0.8);
    opacity: 0.8;
    z-index: 2;
}

.carousel-item:nth-child(4) {
    transform: translateX(600px) scale(0.6);
    opacity: 0.6;
    z-index: 1;
}

.carousel-item:nth-child(5) {
    transform: translateX(-600px) scale(0.4);
    opacity: 0.4;
    z-index: 0;
}


.carousel-ocr .carousel-item-ocr,
.carousel-pro .carousel-item-pro,
.carousel-cv .carousel-item-cv,
.carousel-presentation .carousel-item-presentation {
    width: 600px;
    height: 400px;
    margin: 0 10px;
    border-radius: 6px;
    border: 1px solid var(--carousel-border);
    box-shadow: 0 0 20px var(--carousel-shadow), 0 0 20px var(--carousel-shadow), 0 0 20px var(--carousel-shadow);
    animation: var(--carousel-animation);
    transition: transform 0.5s, opacity 0.5s;
    position: absolute;
    transform: scale(0.6);
    opacity: 0.6;
    background-color: white;
}

.carousel-item-pointer {
    cursor: pointer;
}

.carousel-ocr .carousel-item-ocr,
.carousel-pro .carousel-item-pro {
    overflow: hidden;
}

.carousel-cv .carousel-item-cv,
.carousel-presentation .carousel-item-presentation {
    overflow: auto;
}

.carousel-ocr {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 469px;
}

.carousel-item-ocr img {
    width: 586px;
    height: 386px;
    border-radius: 6px;
    border: 7px solid white;
}

.carousel-pro {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 469px;
}

.carousel-item-pro img {
    width: 586px;
    height: 386px;
    border-radius: 6px;
    border: 7px solid white;
}

.carousel-cv {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 480px;
}

.carousel-item-cv h2,
.carousel-item-cv li {
    position: relative;
    z-index: 1;
}

h2 {
    display: none;
}

.cv-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

h3 {
    display: flex;
    justify-content: flex-start;
    color: black;
    margin-left: 30px;
    margin-bottom: 10px;
}



.carousel-cv p,
.carousel-presentation p {
    display: flex;
    justify-content: flex-start;
    color: black;
    margin-left: 30px;
    margin-bottom: 15px;

}

.carousel-cv ul,
.carousel-presentation ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 550px;
    margin: 15px auto;
    padding: 10px;
}

.carousel-cv li,
.carousel-presentation li {
    display: flex;
    justify-content: flex-start;
    color: black;
    margin: 15px;

}


.carousel-presentation {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 480px;
}

.details-container {
    margin-top: 0px;
}


/* ********************* Carousels OCR contenair  ********************* */

.links-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 0px;


}

.links-container a {
    margin: 0 10px;
    font-size: 24px;
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--tag-background-color);
    margin: 0 5px;
    border-radius: 25px;
    border: 2px solid var(--tag-border-color);
    padding: 7px 15px;
}

.links-container a:hover {
    transform: scale(1);
    text-shadow: 0 0 1px var(--link-hover-shadow);
    background-color: var(--tag-background-color-hover);
    cursor: pointer;
    border: 2px solid var(--tag-border-color-hover);
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: var(--tag-background-color);
    color: var(--tag-text-color);
    padding: 7px 15px;
    margin: 0 5px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid var(--tag-border-color);
}

.tag:hover {
    background-color: var(--tag-background-color-hover);
    border: 2px solid var(--tag-border-color-hover);
}

button {

    background-color: var(--tag-background-color);
    margin: 0 10px;
    font-size: 24px;
    color: var(--link-color);

    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid var(--tag-border-color);
    padding: 7px 15px;

}

button:hover {
    transform: scale(1);
    text-shadow: 0 0 1px var(--link-hover-shadow);
    background-color: var(--tag-background-color-hover);
    cursor: pointer;
    border: 2px solid var(--tag-border-color-hover);
}

button.active {
    background-color: var(--toggle-background);
    color: white;
    border: 1px solid var(--tag-border-color);

}

/* ********************* Modal OCR styles ********************* */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}



.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 560px;
    height: 365px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    position: absolute;


}

.modal-description,
.modal-competence,
.modal-problematique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.modal-content p {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ocr-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: black;
    margin-left: 30px;
    margin-bottom: 10px;
}

.ocr-item h3 {
    display: flex;
    justify-content: flex-start;
    color: black;
    margin-left: 0px;
    margin-bottom: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-description p {

    margin: 4px 0;
}

.blur {
    filter: blur(1px);
    transition: filter 0.5s;
}

/* ********************* Formulaire ********************* */

.carousel-container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    position: relative;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;

    margin-top: 30px;
    margin-bottom: 15px;
}

.carousel-form .carousel-item-form {
    width: 600px;
    height: 400px;
    margin: 0 10px;
    border-radius: 6px;
    border: 1px solid var(--carousel-border);
    box-shadow: 0 0 20px var(--carousel-shadow), 0 0 20px var(--carousel-shadow), 0 0 20px var(--carousel-shadow);
    animation: var(--carousel-animation);
    transition: transform 0.5s, opacity 0.5s;
    position: absolute;

    background-color: white;
}

.carousel-form {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 480px;
}



.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-title h1 {
    margin: 0;
    font-size: 24px;
    color: var(--text-color);
}

/* Styles pour les champs du formulaire */



.form-field {
    margin: 10px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field label {
    width: 100%;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    text-align: left;

}

.form-field input,
.form-field textarea {

    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--carousel-border);
    box-sizing: border-box;
    font-size: 16px;
    color: black;

}

.form-field textarea {
    resize: vertical;
    height: 100px;
}

/************* Style pour le bouton de soumission ***********/

.carousel-form button {
    display: block;
    margin: 20px auto;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--tag-border-color);
    background-color: var(--tag-background-color);
    color: var(--link-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.carousel-form button:hover {
    background-color: var(--tag-background-color-hover);
    text-shadow: 0 0 1px var(--link-hover-shadow);
    border: 2px solid var(--tag-border-color-hover);
}


/* ********************* Footer ********************* */

footer {
    width: 100%;
    height: 35px;
    /* height: 48px; */
    position: fixed;
    /* position: absolute; */
    bottom: 0;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    display: flex;
    font-size: 15px;
    margin: 0;
    color: var(--footer-text-color);
}

.carousel .prev,
.carousel .next {
    display: none;
}